<html>
<head>
	<title>Hwi Submit PAGE</title>
</head>

<body>
	<label>Set Temperature : &nbsp; <input type="text" size="5" maxlength="5"><label><br>
	<br>
	<label>Set Humidity : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" size="5" maxlength="5"><label><br>
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Set"><br>
	<br>

	<tr>
		<table border="1">
			<thead>
				<tr>
					<td>Date</td>
					<td>Temperature</td>
					<td>Humidity</td>
				</tr>
			</thead>

			<tbody>
				{%for i in  rows%}
				<tr>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</tr>
</body>
</html>
	